html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  color: #e5e5e5;
}

a h3:hover {
  color: #fff;
}

.wrapper {
  min-width: 1050px;
  min-height: 100%;
  background-color: #141414;
}

.signin__container {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: #fff;
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0, 0.1) 0 1px 2px;
  padding: 20px 35px;
}

.column form {
  display: flex;
  flex-direction: column;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

.column form input[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

.column .header {
  padding: 20px 0;
}

.column .header h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: #000000;
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
}

.signin__message {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.errorMessage {
  color: #f00;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.preview__container {
  position: relative;
  display: flex;
}

.preview__container.small {
  width: 230px;
  height: 129px;
  margin-right: 4px;
  display: inline-flex;
}

.preview__container.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview__img,
.preview__video {
  width: 100%;
}

.preview__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.preview__overlay .main__details h3 {
  color: #fff;
  font-size: 40px;
  margin: 15px 0;
}

.preview__overlay .main__details h4 {
  color: #fff;
  font-size: 20px;
  margin: 15px 0;
}

.main__details {
  position: relative;
  top: 35%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.main__details button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #fff;
  border: none;
  min-width: 150px;
  padding: 0 38px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
}

button i {
  color: inherit;
}

.main__details button:hover {
  background-color: #e6e6e6;
  color: #000000;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entities,
.videos {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.preview__categories {
  padding: 0 50px;
}

.error__banner {
  color: #fff;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.season {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.episode__container {
  display: inline-flex;
  justify-content: center;
  margin-right: 4px;
}

.episode__container .contents {
  display: flex;
  flex-direction: column;
  width: 230px;
  position: relative;
}

.episode__container img {
  width: 230px;
  height: 129px;
  object-fit: cover;
}

.episode__container .video__info h4,
.episode__container .video__info span {
  color: #fff;
  width: 100%;
  white-space: normal;
}

.episode__container .video__info {
  max-height: 200px;
  overflow-y: auto;
}

.preview__categories.no__scroll .category .entities {
  white-space: normal;
}

.watch__container video {
  width: 100%;
}

.video__controlls {
  position: absolute;
  width: 100%;
  z-index: 1;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.video__controlls h1 {
  color: #fff;
  display: inline-block;
}

.video__controlls button {
  font-size: 50px;
  padding: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
}

.up__next {
  display: flex;
  height: 100%;
  justify-content: center;
}

.up__next__container button {
  padding: 0;
}

.up__next__container h2,
.up__next__container h3 {
  color: #fff;
}

.watch__nav {
  z-index: 2;
}

.seen {
  color: #2ecc71;
  font-size: 26px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.topbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 60px;
  height: 70px;
  box-sizing: border-box;
  min-width: 1050px;
  transition: background-color 200ms linear;
}

.topbar.scrolled {
  background-color: #141414;
  transition: background-color 200ms linear;
}

.logo-container {
  height: 40px;
}

.logo-container img {
  height: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}

.right-items {
  flex: 1;
  text-align: right;
}

.right-items i {
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
}